ion-content.outer-content {
  background: $sideMenuBg !important;
}

.side-menu-list {
  h2 {
	padding: 1.25rem 1rem 1.22rem 2rem;
	margin: 0;
	background: lighten($sideMenuBg, 10);
	font-weight: 400;
	color: $sideMenuTextColor;
	font-size: 1.6rem;
  }
  ul {
	margin: 0;
	padding: 0;
	li {
	  padding: 1.5rem 1rem 1.5rem 2rem;
	  color: $sideMenuTextColor;
	  font-size: 1.5rem;
	  font-weight: 500;
	}
  }
}
