page-partners{
  .contain-area {
	background-color: #eee;

    .search-result-status {
      position: relative;
      text-align: center;
      span {
        color: $text-light-gry;
      }
    }
  }
}